{% extends "base/post_login.html" %}

{% block page_title %} Messages {% endblock %}

{% block page_heading %} Messages  {% endblock %}
{% block page_description %} [Common] {% endblock %}

{% block breadcrumb %}
    <li><a href="../Home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Messages</li>
{% endblock %}

{% block content %}
    <input type="hidden" id="this_user_dp"   value="{{ this_user_dp   }}">
    <input type="hidden" id="this_user_name" value="{{ this_user_name }}">

       <div class="row">
        <div class="col-md-4">
          <div class="box box-info direct-chat direct-chat-info">

            <div class="box-header with-border">
              <h3 class="box-title" id="contact_title">Unread Messages</h3>
              <h3 id="recent_messages_btn_div" onclick='getContactList("recent")' class="box-title pull-right"><button class="btn btn-info btn-flat">Show Recent</button></h3>
              <h3 id="unread_messages_btn_div" onclick='getContactList("unread")' class="box-title pull-right"><button class="btn btn-info btn-flat">Show Unread</button></h3>
            </div>

            <div class="box-body" style="max-height: 240px!important;">
              <div class="box-footer no-padding">
              <ul class="nav nav-stacked" id="user_list_div">
              </ul>
            </div>
            </div>

            <div class="box-footer">
                <div class="input-group">
                  <input type="text" id="search_box" placeholder="Search People" class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat" onclick='getContactList("search")'><i class="fa fa-search"></i></button>
                      </span>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-8" id="chat_div">
          <div class="box box-info direct-chat direct-chat-info">
            <div class="box-header with-border">
              <h3 class="box-title" id="chat_box_title"></h3>

              <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-green"></span>
              </div>
            </div>
            <div class="box-body">
              <div class="direct-chat-messages" id="chat_box">
              </div>
            </div>
            <div class="box-footer">
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." class="form-control" id="message_content">
                      <span class="input-group-btn">
                        <button type="submit" id="send_message_btn" class="btn btn-info btn-flat" onclick="sendMessage()">Send</button>
                      </span>
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}



{% block page_specific_css %}
    <style type="text/css">
    .chat-list-user-img{
        width: 30px;
        height: 30px;
        border-radius: 20px;
    }
    </style>
{% endblock %}

{% block page_specific_js  %}
    <script>
        $("#chat_div").hide();
        var send_to_id = 0;
        $("#chat_box").html();
        $("#send_message_btn").prop('disabled', true);

        function sendMessage(){
            var message = $("#message_content").val();
            $.ajax({
                url:"SendMessage",
                method:"POST",
                data:{
                    "message":message,
                    "send_to" : send_to_id
                },
                success:function(data){
                    var this_user_name = $("#this_user_name").val();
                    var this_user_dp   = '../static/bootstrap/dist/img/user3-128x128.jpg'; //$("#this_user_dp").val();
                    var time = getCurrentDateTime();

                    $("#message_content").val("");

                    var chat = '<div class="direct-chat-msg right"><div class="direct-chat-info clearfix">';
                    chat += '<span class="direct-chat-name pull-right">'+this_user_name+'</span>';
                    chat += '<span class="direct-chat-timestamp pull-left">'+time+'</span></div>';
                    chat += '<img class="direct-chat-img" src="'+this_user_dp+'"><div class="direct-chat-text">';
                    chat += message+'</div></div>';
                    $("#chat_box").append(chat);
                    var objDiv = document.getElementById("chat_box");
                    objDiv.scrollTop = objDiv.scrollHeight;
                },
                error:function(data){
                    alert("Error : "+data.responseText)
                }
            });
        }

        $("#recent_messages_btn_div").show();
        $("#unread_messages_btn_div").hide();
        currentType = "unread";
        getContactList(currentType);


        function getContactList(type){
            var search_val = $("#search_box").val();
            var allow = true;
            if (type === "search"){
                if (search_val === "") {
                    allow = false;
                }
            }
            if (allow) {
                $.ajax({
                    url: "GetContactList",
                    method: "POST",
                    data: {
                        "type": type,
                        "keyword":search_val
                    },
                    success: function (data) {
                        var parsedData = $.parseJSON(data);
                        var li = '';
                        $.each(parsedData, function () {
                            this.disp_pic = '../static/bootstrap/dist/img/user1-128x128.jpg';
                            li += '<li><a onclick="loadUserChat(' + this.id + ')"><img class="chat-list-user-img" src="' + this.disp_pic + '">';
                            li += '<label style="margin-left: 6px">' + this.name + '</label>';
                            if (type === "unread") {
                                li += '<small class="pull-right label label-warning">' + this.unread_msg_count + ' Unread</small>';
                            }
                            li += '</a></li>';
                        });
                        if (parsedData.length > 0)
                            $("#user_list_div").html(li);
                        else
                            if (type === "unread") {
                                $("#user_list_div").html('<li><center>No Unread Messages</center></li>');
                            }else if(type === "recent"){
                                $("#user_list_div").html('<li><center>No Recent Records Found</center></li>');
                             }else{
                                $("#user_list_div").html('<li><center>No Search Results Found</center></li>');
                             }
                    },
                    error: function (data) {
                        alert("Error : " + data.responseText)
                    }
                });

                if (type === "unread") {
                    $("#recent_messages_btn_div").show();
                    $("#unread_messages_btn_div").hide();
                    $("#contact_title").html("Unread Messages");
                } else {
                    $("#recent_messages_btn_div").hide();
                    $("#unread_messages_btn_div").show();
                    if(type === "recent"){
                        $("#contact_title").html("Recent Chats");
                    }else{
                        $("#contact_title").html("Contact Search");
                    }
                }
            }
        }

        var last_message_id = 0;
        var other_user_id = 0;
        var other_user_name = "";
        var other_user_dp   = "";

        function loadUserChat(userid){
          send_to_id = userid;
          $.ajax({
                url:"LoadUserChat",
                method:"POST",
                data : {
                    "chatting_with_user_id":userid
                },
                success:function(data){
                    var parsedData = $.parseJSON(data);
                    last_message_id = parsedData["last_message_id"];
                    other_user_name = parsedData["other_user_name"];
                    other_user_dp   = '../static/bootstrap/dist/img/user3-128x128.jpg'; //parsedData["other_user_dp"];
                    other_user_id   = parsedData["other_user_id"];
                    var this_user_name = $("#this_user_name").val();
                    var this_user_dp   = '../static/bootstrap/dist/img/user1-128x128.jpg'; //$("#this_user_dp").val();
                    $("#chat_box_title").html(other_user_name);
                    $("#send_message_btn").prop('disabled', false);
                    var chat = "";
                    $.each(parsedData["messages"], function () {
                        if(other_user_id !== this.sender){
                            chat += '<div class="direct-chat-msg right"><div class="direct-chat-info clearfix">';
                            chat += '<span class="direct-chat-name pull-right">'+this_user_name+'</span>';
                            chat += '<span class="direct-chat-timestamp pull-left">'+this.time+'</span></div>';
                            chat += '<img class="direct-chat-img" src="'+this_user_dp+'"><div class="direct-chat-text">';
                            chat += this.message+'</div></div>';
                        }else{
                            chat += '<div class="direct-chat-msg"><div class="direct-chat-info clearfix">';
                            chat += '<span class="direct-chat-name">'+other_user_name+'</span>';
                            chat += '<span class="direct-chat-timestamp pull-right">'+this.time+'</span></div>';
                            chat += '<img class="direct-chat-img" src="'+other_user_dp+'"><div class="direct-chat-text">';
                            chat += this.message+'</div></div>';
                        }
                    });
                    $("#chat_box").html(chat);
                    var objDiv = document.getElementById("chat_box");
                    objDiv.scrollTop = objDiv.scrollHeight;
                    $("#chat_div").show();
                },
                error:function(data){
                    alert("Error : "+data.responseText)
                }
          });
        }

        setInterval(function() {
          getLiveMessages();
        },2000); //on every 3 seconds
        function getLiveMessages(){
            $.ajax({
                url: "GetLiveChatUpdate",
                method: "POST",
                data: {
                    "other_user_id": other_user_id,
                    "last_message_id": last_message_id
                },
                success: function (data) {
                    var parsedData = $.parseJSON(data);
                    last_message_id = parsedData["last_message_id"];
                    $("#send_message_btn").prop('disabled', false);
                    var chat = "";
                    $.each(parsedData["messages"], function () {
                        chat += '<div class="direct-chat-msg"><div class="direct-chat-info clearfix">';
                        chat += '<span class="direct-chat-name">' + other_user_name + '</span>';
                        chat += '<span class="direct-chat-timestamp pull-right">' + this.time + '</span></div>';
                        chat += '<img class="direct-chat-img" src="' + other_user_dp + '"><div class="direct-chat-text">';
                        chat += this.message + '</div></div>';
                    });
                    $("#chat_box").append(chat);
                    var objDiv = document.getElementById("chat_box");
                    objDiv.scrollTop = objDiv.scrollHeight;
                },
                error: function (data) {
                    alert("Error : " + data.responseText)
                }
            });

        }

        function getCurrentDateTime() {
          date = new Date();
          const monthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
          var day = date.getDate();
          var month = date.getDate();
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12;
          minutes = minutes < 10 ? '0'+minutes : minutes;
          return day+' '+monthNames[date.getMonth()]+" "+hours + ':' + minutes + ' ' + ampm;
        }
    </script>
{% endblock %}

