{% extends "base/post_login.html" %}
{% block page_title %} Add New Class{% endblock %}
{% block page_heading %} Add New Class {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> Add New Class</a></li>
{% endblock %}

{% block content %}
    <form method="post" action="SaveClass">
    {% csrf_token %}
    {% load widget_tweaks %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Class Name</label>
                            {% render_field form.class_name class="form-control" %}
                            <span class="help-block" style="color: red;">{{ form.class_name.errors }}</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Class Division</label>&nbsp;[<small>for multiple divisions use comma. Eg. A,B,C,D</small>]
                            <div class="pull-right">
                                {% render_field form.does_have_division id="does_have_division" onChange="doesHaveDivision()" style="width: 12px; height: 12px;" %}No Divisions
                            </div>
                            {% render_field form.class_division class="form-control" id="class_division" %}
                            <span class="help-block" style="color: red;">{{ form.class_division.errors }}</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Class Nick Name</label>
                            {% render_field form.class_nickname class="form-control" %}
                            <span class="help-block" style="color: red;">{{ form.class_nickname.errors }}</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Class Starting Date</label>
                            {% render_field form.class_start_date class="form-control" %}
                            <span class="help-block" style="color: red;">{{ form.class_start_date.errors }}</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Class Ending Date</label>
                            {% render_field form.class_end_date class="form-control" %}
                            <span class="help-block" style="color: red;">{{ form.class_end_date.errors }}</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Class Level</label>
                            {% render_field form.institution_levels class="form-control" %}
                            <span class="help-block" style="color: red;">{{ form.institution_levels.errors }}</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Timing Pattern</label>
                            {% render_field form.class_time_pattern class="form-control" %}
                            <span class="help-block" style="color: red;">{{ form.class_time_pattern.errors }}</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Class Teacher</label>
                            {% render_field form.class_teacher class="form-control" %}
                            <span class="help-block" style="color: red;">{{ form.class_teacher.errors }}</span>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                <button type="submit" class="btn btn-info">Cancel</button>
                <button type="reset" class="btn btn-warning">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
    <script>
        doesHaveDivision();
        function doesHaveDivision(){
            if($("#does_have_division").is(":checked"))
                $("#class_division").attr("disabled",true);
            else
                $("#class_division").attr("disabled",false);
        }
    </script>

{% endblock %}