{% extends "base/post_login.html" %}
{% block page_title %} List Classes {% endblock %}
{% block page_heading %} List Classes {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> List Classes </a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <h4> Helloooo Classes Are Listed Here</h4>
    </div>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
{% endblock %}