{% extends "base/signup.html" %}
{% block page_title %} User Registration {% endblock %}
{% block page_specific_css %}{% endblock %}
{% block page_description %} Current Address {% endblock %}
{% block content %}

    <form class="w-100" method="post" action="SaveCurrentAddressPageDetails">
    {% csrf_token %}
    {% load widget_tweaks %}

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>House Name</label>
                    {% render_field form.house_name class="form-control" %}
                </div>
                <div class="validation">
                    <label class="error">{{ form.house_name.errors }}</label>
                    <!--<label class="desc">Some Description</label>-->
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Street</label>
                    {% render_field form.street class="form-control" %}
                </div>
                <div class="validation">
                    <label class="error">{{ form.street.errors }}</label>
                    <!--<label class="desc">Some Description</label>-->
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Landmark</label>
                    {% render_field form.landmark class="form-control" %}
                </div>
                <div class="validation">
                    <label class="error">{{ form.landmark.errors }}</label>
                    <!--<label class="desc">Some Description</label>-->
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Zipcode</label>
                    {% render_field form.zipcode class="form-control" id="zipcode_id" %}
                </div>
                <div class="validation">
                    <label class="error">{{ form.zipcode.errors }}</label>
                </div>
            </div>
        </div>


        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Area</label>
                    <select id="area_field">
                    <option disabled >Select Area</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <button type="button" onclick="load()">Load Area</button>
            </div>
        </div>


        <div class="col-md-7 col-sm-12 text-right">
            <div class="form-group">
                <button type="submit" name="current_address_submit_button" value="back" class="btn_next waves-effect orange accent-2"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Previous Page</button>
                <button type="submit" name="current_address_submit_button" value="next" class="btn_next waves-effect blue accent-2">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>

    </form>
{% endblock %}

{% block image %} <img src="/static/user_registration/images/3.png"/> {% endblock %}

<!-- Add page specific js here-->
{% block page_specific_js %}
    <script type="text/javascript">
        var zip = "0ABC0";
        function loadArea(){
            var newZip = $("#zipcode_id").val();
            if(zip !== newZip){
                zip = newZip;
                $.ajax({
                    url:"GetZipicodeData",
                    method:"POST",
                    data:{
                        "zipcode":zip,
                        "country":1
                    },
                    success:function(data){
                        var op = '';
                        var json = $.parseJSON(data);
                        $(json).each(function(i,val){
                            var temp = val["city"]+", "+val["district"]+", "+val["state"];
                            op += '<option value="'+val["id"]+'">'+temp+'</option>';
                        });
                        //alert(op);
                        $('#area_field').html(op);
                    },
                    error:function(data){
                        alert("Error : "+data)
                    }
                })
            }
        }

        function load(){
            var op = '';
            op += '<option value="val_1">Value 1</option>';
            op += '<option value="val_2">Value 2</option>';
            op += '<option value="val_3">Value 3</option>';
            op += '<option value="val_4">Value 4</option>';
            $('#area_field').html(op);
        }

    </script>
{% endblock %}
