{% extends "base/signup.html" %}

{% block page_title %} User Registration {% endblock %}
{% block page_specific_css %}{% endblock %}
{% block page_description %} Basic Details {% endblock %}

{% block content %}
    <form class="w-100" method="post" action="SavePrimaryPageDetails">
    {% csrf_token %}
    {% load widget_tweaks %}

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Full Name</label>
                    {% render_field form.name class="form-control" %}
                </div>
                <div class="validation">
                    <label class="error">{{ form.name.errors }}</label>
                    <!--<label class="desc">Some Description</label>-->
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Date of Birth</label>
                    {% render_field form.date_of_birth class="form-control" %} <!-- use class : datepicker -->
                </div>
                <div class="validation">
                    <label class="error">{{ form.date_of_birth.errors }}</label>
                    <!--<label class="desc">Some Description</label>-->
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group ggg">
                  <label>Gender</label>
                  {% render_field form.gender class="form-line text-center"  %}
                <div class="validation">
                    <label class="error">{{ form.gender.errors }}</label>
                    <!--<label class="desc">Some Description</label>-->
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12 text-right">
            <div class="form-group">
                <button type="submit" name="basic_submit_button" value="cancell" class="btn_next waves-effect orange accent-2 float-left"><i class="fa fa-close"></i>&nbsp;&nbsp;Cancell</button>
                <button type="submit" name="basic_submit_button" value="next" class="btn_next waves-effect blue accent-2">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>

    </form>
{% endblock %}

{% block image %} <img src="/static/user_registration/images/3.png"/> {% endblock %}

{% block page_specific_js %}{% endblock %}
