{% extends "base/signup.html" %}

{% block page_title %} User Registration {% endblock %}
{% block page_specific_css %}{% endblock %}
{% block page_description %} Login Credentials {% endblock %}

{% block content %}

    <form class="w-100" method="post" action="SaveCredentialPageDetails">
    {% csrf_token %}
    {% load widget_tweaks %}

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Username</label>
                    {% render_field form.username class="form-control" %}
                </div>
                <div class="validation">
                    <label class="error">{{ form.username.errors }}</label>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                <div class="form-line text-center">
                    <label>Password</label>
                    {% render_field form.password class="form-control" %}
                </div>
                <div class="validation">
                    <label class="error">{{ form.password.errors }}</label>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="form-group">
                 <p class="perm_address">
                     <label>
                         {% render_field form.subscribe_for_news_letter class="check_perm_address" %}
                         <span>Subscribe for Wokidz News Letter</span>
                     </label>
                 </p>
            </div>
        </div>

        <div class="col-md-7 col-sm-12 text-right">
            <div class="form-group">
                <button type="submit" name="credential_submit_button" value="back" class="btn_next waves-effect orange accent-2"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Previous Page</button>
                <button type="submit" name="credential_submit_button" value="next" class="btn_next waves-effect blue accent-2">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>

    </form>

{% endblock %}

{% block image %} <img src="/static/user_registration/images/2.png"/> {% endblock %}

{% block page_specific_js %}{% endblock %}
