{% extends "base/post_login.html" %}

{% block page_title %} Documents {% endblock %}
{% block page_heading %} Documents {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Documents</li>
{% endblock %}

{% block content %}
    <form method="post" action="Upload" enctype="multipart/form-data" >
        {% csrf_token %}
        {% load widget_tweaks %}
        {% render_field form.file class="form-control" %}
        <input type="submit" name="Upload"/>
    </form>
{% endblock %}


{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
{% endblock %}

