{% extends "base/post_login.html" %}

{% block page_title %} Create Announcements {% endblock %}
{% block page_heading %} Create Announcements {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Create Announcements</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group col-md-12">
                            <label>Content</label>
                            <textarea class="form-control" rows="3" placeholder="Write your announcement content here"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Content in brief for SMS</label>
                            <input class="form-control" placeholder="Brief your content here for SMS">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Organization Group</label>
                            <select class="form-control">
                                <option>Sabarigiri Group</option>
                                <option>Chinmaya Group</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Organization</label>
                            <span class="pull-right"><input type="checkbox" >All Organizations</span>
                            <select class="form-control">
                                <option>Sabarigiri Anchal</option>
                                <option>Sabarigiri Trivandrum</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Class </label>
                            <span class="pull-right"><input type="checkbox" >All Classes</span>
                            <select multiple class="form-control">
                                <option>12 - A - Computer Science</option>
                                <option>12 - B - BioMaths</option>
                                <option>12 - C - BioMaths</option>
                                <option>12 - D - Commerce</option>
                                <option>11 - A - Computer Science</option>
                                <option>11 - B - BioMaths</option>
                                <option>11 - C - BioMaths</option>
                                <option>11 - D - Commerce</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Select Roles </h3>
                    <small style="cursor:pointer;" class="pull-right"><a onclick="selectAllRoles()" id="label_roles_select_all">Select All</a></small>
                </div>
                <div class="box-body">
                    <table>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> School Admin </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Principal </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Directors </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Teachers </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Parents </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Students </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Lab Assistants </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Securities </td></tr>
                        <tr><td><input class="roles_chk_box" type="checkbox"> &nbsp;&nbsp;</td><td> Enquiry Assistants </td></tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block page_specific_css %}
    <style>
        .roles_chk_box{
            width  : 22px;
            height : 22px;
        }
    </style>
{% endblock %}

{% block page_specific_js  %}
    <script>
        var rolesCheckbox = false;
        function selectAllRoles(){
            rolesCheckbox = !rolesCheckbox;
            $(".roles_chk_box").prop('checked',rolesCheckbox);
            $("#label_roles_select_all").html(!rolesCheckbox ? "Select All" : "Unselect All")
        }
    </script>
{% endblock %}

