{% extends "base/post_login.html" %}
{% block page_title %} Timetable {% endblock %}
{% block page_heading %} Timetable {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> TimeTable </a></li>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <select class="form-control">
                            {% for timing in timings %}
                                <option value="{{ timing.id }}">{{ timing.name }}</option>
                            {% endfor %}
                        </select>
                    </h3>
                    <div class="box-tools">
                        <button class="btn btn-flat btn-info" data-toggle="modal" data-target="#add-class-modal"><i class="fa fa-eye"></i>&nbsp;Preview</button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>#</td><td>Period 1</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>


        </div>


    </div>
{% endblock %}




{% block page_specific_css %}
    <link rel="stylesheet" href="../../../static/bootstrap/plugins/nouislider/nouislider.min.css">
{% endblock %}

{% block page_specific_js  %}
    <script src="../../../static/bootstrap/plugins/nouislider/nouislider.min.js"></script>
{% endblock %}