{% extends "base/post_login.html" %}

{% block page_title %} Subjects {% endblock %}
{% block page_heading %} Subjects {% endblock %}

{% block breadcrumb %}
    <li><a href="../Home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a> Subject Details </a></li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <div class="box">


                <div class="box-header">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        {% render_field class_names.class_names class="form-control pull-left" style="width: 25%;" %}
                        {% render_field class_names.class_div class="form-control pull-left" style="width: 25%;" %}
                        <button class="btn btn-info btn-flat">
                            <i class="fa fa-filter"></i> &nbsp; Filter
                        </button>

                    </form>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class Assigned</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subject in subjects %}
                            <tr onclick="loadTeachers({{ subject.id }})">
                                <td>{{ subject.name }} <br> <small>[duration : {{ subject.duration }} hrs]</small></td>
                                <td>{{ subject.assigned_to_class }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6" id="teachers_box">
            <div class="box">

                <div class="box-header">
                    <h3 class="box-title">Teachers</h3>
                    <button onClick="enableEdit()"  id="edit_teacher_btn" class="pull-right btn btn-flat btn-warning"><i class="fa fa-pencil"></i> Edit</button>
                    <button onClick="saveChanges()" id="save_teacher_btn" class="pull-right btn btn-flat btn-success"><i class="fa fa-save"></i> Save</button>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Teacher Name</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="40%">
                                    <div id="teacher_select">
                                    </div>
                                </td>
                                <td id="teacher_note"></td>
                                <td id="delete_teacher"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr id="add_teacher_div">
                                <td width="40%">
                                    <select class="form-control" id="teacher_role_id">
                                        {% for teacher in teachersList %}
                                            <option value="none">Select Teacher</option>
                                            <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" id="add_teacher_note"></td>
                                <td><button onclick="addNewTeacher()" class="btn btn-flat btn-success"><i class="fa fa-plus"></i></button></td>
                            </tr>
                            <tr style="cursor: pointer">
                                <td onClick="addTeacher()">
                                    <div style="text-align: center;">
                                        <i class="fa fa-plus"></i> Add Teacher (Show/Hide)
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


{% block page_specific_css %}
    <style>
        .no-border{
            border:0;
            background: transparent;
            cursor: pointer;
        }
        .no-border:disabled{
            border:0;
            background: transparent;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block page_specific_js %}
    <script>
        var selected_subject_id = null;
        $("#save_teacher_btn").hide();
        $("#edit_teacher_btn").show();
        $("#add_teacher_div").hide();
        $("#teachers_box").hide();

        function loadTeachers(sub_id){
            subject_id = sub_id;
            selected_subject_id = sub_id;
            $.ajax({
                url: "LoadTeachersList",
                method: "POST",
                data: {
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "subject_id":sub_id
                },
                success:function(data){
                    var parsedData = $.parseJSON(data);
                    var teacher = "";
                    var note = "";
                    var delete_button = "";
                    $.each(parsedData["teacherData"], function () {
                        teacher += '<select class="form-control no-border teacher_forms" disabled>';
                        teacher += '<option value="'+this.id+'">'+this.name+'</option>';
                        teacher += '</select>';
                        note += '<input type="text" class="form-control no-border teacher_forms" value="'+this.note+'">';
                        delete_button += '<button onclick="deleteTeacher('+this.id+')" class="btn btn-flat btn-danger"><i class="fa fa-trash"></i></button><br/>';
                    });
                    $("#teacher_note").html(note);
                    $("#teacher_select").html(teacher);
                    $("#delete_teacher").html(delete_button);
                    $("#teachers_box").show();
                },
                error:function(data){
                    alert("Error : "+data.responseText)
                }
            });
        }

        var addTeacherTabDisplayed = false;
        function addTeacher(){
            addTeacherTabDisplayed = !addTeacherTabDisplayed;
            if(addTeacherTabDisplayed){
                $("#add_teacher_div").show();
            }else{
                $("#add_teacher_div").hide();
            }

        }

        function enableEdit(){
            $(".teacher_forms").removeClass("no-border");
            $(".teacher_forms").removeAttr("disabled");
            $("#edit_teacher_btn").hide();
            $("#save_teacher_btn").show();
        }

        function saveChanges(){
            $(".teacher_forms").addClass("no-border");
            $(".teacher_forms").attr("disabled","disabled");
            $("#save_teacher_btn").hide();
            $("#edit_teacher_btn").show();
        }

        function deleteTeacher(teacher_id){
            alert("Delete Teacher (not implemented) : "+teacher_id);
        }

        function addNewTeacher(){
            if($("#teacher_role_id").val() !== "none") {
                $.ajax({
                    url: "SaveNewTeacher",
                    method: "POST",
                    data: {
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        "selected_subject_id": selected_subject_id,
                        "selected_teacher_role_id": $("#teacher_role_id").val(),
                        "note": $("#add_teacher_note").val()
                    },
                    success: function (data) {
                        var parsedData = $.parseJSON(data);
                        if (parsedData["status"]) {
                            loadTeachers(selected_subject_id);
                        } else {
                            alert(parsedData["message"])
                        }
                        $('select[id^="teacher_role_id"] option:selected').attr("selected", null);
                    },
                    error: function (data) {
                        alert("Error : " + data.responseText)
                    }
                });
            }
        }

    </script>
{% endblock %}