{% extends "base/post_login.html" %}
{% block page_title %} Add Subject {% endblock %}
{% block page_heading %} Add Subject {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> Add Subjects </a></li>
{% endblock %}

{% block content %}
    <form method="post" action="SaveSubject">
        {% csrf_token %}
        {% load widget_tweaks %}

        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">

                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Subject Name</label>
                                {% render_field form.subject_name class="form-control" %}
                                <span class="help-block" style="color: red;">{{ form.subject_name.errors }}</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Subject Duration</label>
                                {% render_field form.subject_duration class="form-control" %}
                                <span class="help-block" style="color: red;">{{ form.subject_duration.errors }}</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Assign to Class</label>
                                {% render_field form.assign_to_class class="form-control select2" multiple="multiple" style="width:100%" %}
                                <span class="help-block" style="color: red;">{{ form.assign_to_class.errors }}</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Book</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                        </tr>
                                        </thead>
                                        <tbody id="selected_books_table">
                                        </tbody>
                                    </table>
                                </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info">Cancel</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">

                    <div class="box-body">
                        <div class="col-xs-12">
                            <div>
                                <div class="box-header">
                                    <h3 class="box-title">Attach Subject</h3>

                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" id="search_key" class="form-control pull-right" placeholder="Book name or id">
                                            <div class="input-group-btn">
                                                <button onclick="loadBooks()" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body table-responsive no-padding" id="books_div">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Book</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                        </tr>
                                        </thead>
                                        <tbody id="books_table_content">
                                        </tbody>
                                    </table>
                                </div>
                                <div id="page_loading_div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}



{% block page_specific_css %}
    <link rel="stylesheet" href="/static/bootstrap/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/AdminLTE.min.css">
{% endblock %}

{% block page_specific_js  %}
    <script src="/static/bootstrap/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script>
    $(function () {$('.select2').select2()});

        function loadBooks(){
            $("#page_loading_div").html('<i class="fa fa-refresh fa-spin"></i>');

            $.ajax({
                url:"SearchBooks",
                type:"POST",
                data:{
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "search_key" : $("#search_key").val()
                },success : function(data){
                    var parsedData = $.parseJSON(data);
                    if(parsedData["status"] == false){
                        alert(parsedData["message"]);
                    }else {
                        var content = "";
                        $.each(parsedData["booksData"], function (index, element) {
                            if(SelectedBooksIDArrayList.indexOf(element["id"]) == -1) {
                                content += '<tr id=tr_' + element["id"] + '>';
                                content += '<td><input onClick="moveToSelectedTable(' + element["id"] + ')" type="checkbox"></td>';
                                content += '<td>' + element["name"] + ', V.' + element["volume"] + '&nbsp;&nbsp;[' + element["book_code"] + ']</td>';
                                content += '<td>' + element["author"] + ',' + element["publisher"] + '</td>';
                                content += '<td>' + element["category"] + ((element["sub_category"] !== null) ? (', ' + element["sub_category"]) : "") + '</td>';
                                content += '<tr>';
                            }
                        });
                        $("#books_table_content").html(content);
                    }
                    $("#page_loading_div").html('');
                },error : function(data){
                    alert(data.responseText);
                    $("#page_loading_div").html('');
                }
            });
        }

        var SelectedBooksIDArrayList = [];
        function moveToSelectedTable(id){
            var content = $('#tr_'+id).html();
            if(SelectedBooksIDArrayList.indexOf(id) == -1){
                content = content.replace("moveToSelectedTable","removeFromSelectedTable").replace("type=","checked type=");
                $('#tr_'+id).remove();
                $("#selected_books_table").append("<tr id=\"tr_"+id+"\">"+content+"</tr>");
                SelectedBooksIDArrayList.push(id);
            }else{
                alert("Book already added to selected list")
            }
        }

        function removeFromSelectedTable(id){
            $('#tr_'+id).remove();
            SelectedBooksIDArrayList.pop(id);
        }

    </script>
{% endblock %}