{% extends "base/post_login.html" %}
{% block page_title %} Search Book {% endblock %}
{% block page_heading %} Search Book {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> Search Book </a></li>
{% endblock %}

{% block content %}
    <form method="post" action="#">
    {% csrf_token %}
    {% load widget_tweaks %}

    <div class="row">

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="box-body">
                        <table>
                            <tr>
                                <td>Book Name / Code</td>
                                <td>Author</td>
                                <td>Publisher</td>
                                <td>Published Year</td>
                                <td>Category</td>
                                <td>Sub Category</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type=text" class="form-control" placeholder="Hornbill"></td>
                                <td><input type=text" class="form-control" placeholder="GK Pillai"></td>
                                <td><input type=text" class="form-control" placeholder="GK Publications"></td>
                                <td><input type=text" class="form-control" placeholder="2018"></td>
                                <td>
                                    <select class="form-control">
                                        <option>None</option>
                                        <option>Science</option>
                                        <option>Fiction</option>
                                        <option>Mathematics</option>
                                        <option>Social Science</option>
                                        <option>Computer Science</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>None</option>
                                        <option>Physics</option>
                                        <option>Chemistry</option>
                                        <option>Biology</option>
                                        <option>Zoology</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-flat btn-info"><i class="fa fa-search"></i> Search </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Book Name / ID</th>
                                  <th>Author / Publisher</th>
                                  <th>Category</th>
                                  <th>Action</th>
                             </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Thermodynamics</td>
                                <td>Author : Sasikumar <br> Publisher : Sasi Publications <br> Published Year : 2016</td>
                                <td>Cat : Science <br> Sub : Physics</td>
                                <td><button class="btn btn-flat btn-info"><i class="fa fa-pencil"></i></button></td>
                            </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
{% endblock %}