{% extends "base/post_login.html" %}
{% block page_title %} Search Book {% endblock %}
{% block page_heading %} Search Book {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> Search Book </a></li>
{% endblock %}

{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        {% load widget_tweaks %}

        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="box-body">
                            <table>
                                <tr>
                                    <td>Book Name / Code</td>
                                    <td>Author</td>
                                    <td>Publisher</td>
                                    <td>Published Year</td>
                                    <td>Category</td>
                                    <td>Sub Category</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input id="book_id_or_name" type=text" class="form-control" placeholder="Hornbill"></td>
                                    <td><input id="book_author" type=text" class="form-control" placeholder="GK Pillai"></td>
                                    <td><input id="book_pubilisher" type=text" class="form-control" placeholder="GK Publications"></td>
                                    <td><input id="book_published_year" type=text" class="form-control" placeholder="2018"></td>
                                    <td>
                                        <select class="form-control" id="book_category" onChange="loadSubCategories()">
                                            <option value="None">None</option>
                                            {% for category in categories %}
                                                <option value="{{ category.code }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" id="book_sub_category">
                                            <option>None</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-flat btn-info" onclick="performSearch()"><i class="fa fa-search"></i> Search </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Book Name / ID</th>
                                    <th>Author / Publisher</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="table_content"></tbody>
                            </table>
                        </div>
                        <!---Loading Bar-->
                        <div id="page_loading_div"></div>
                        <!-- End Loading----->
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
    <script>
        function loadSubCategories(){
            $.ajax({
                url:"LoadSubCategories",
                type:"POST",
                data:{
                    "category" : $("#book_category").val()
                },success : function(data){
                    var choice = "";
                    var parsedData = $.parseJSON(data);
                    choice += "<option value=\"all\">List All</option>";
                    $.each(parsedData, function(index, element) {
                        choice += "<option value=\""+element["code"]+"\">"+element["name"]+"</option>";
                    });
                    $("#book_sub_category").html(choice);
                },error : function(data){
                    alert(data.responseText);
                }
            });
        }

        function performSearch(){
            $.ajax({
                url:"SearchBooks",
                type:"POST",
                data:{
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "book_id_or_name" : $("#book_id_or_name").val(),
                    "book_author" : $("#book_author").val(),
                    "book_pubilisher" : $("#book_pubilisher").val(),
                    "book_published_year" : $("#book_published_year").val(),
                    "book_category" : $("#book_category").val(),
                    "book_sub_category" : $("#book_sub_category").val()
                },success : function(data){
                   // var choice = "";
                    //var parsedData = $.parseJSON(data);
                    //$.each(parsedData, function(index, element) {

                    //});
                    alert(data);
                },error : function(data){
                    alert(data.responseText);
                }
            });


        }
    </script>
{% endblock %}