{% extends "base/post_login.html" %}
{% block page_title %} Add School Timings {% endblock %}
{% block page_heading %} Add School Timings {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> Add School Timings </a></li>
{% endblock %}

{% block content %}

  <div class="row">

   <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
              <select class="form-control" onchange="loadBreakUpData()" id="school_timing">
                <option value="1">Class 12 - A</option>
                <option value="2">Class LKG UKG</option>
              </select>
          </h3>

          <div class="box-tools">
              <button class="btn btn-flat btn-warning edit_btn" onclick="enableEditingMode()"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</button>
              <button class="btn btn-flat btn-success save_btn" onclick="saveData()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
          </div>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th>#</th>
                  <th>Type</th>
                  <th>Duration</th>
                  <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>1</td>
                  <td><select class="form-control table_form_field" disabled><option>Period</option><option>Break</option></select></td>
                  <td><input type="number" value="30" class="form-control table_form_field" disabled></td>
                  <td><input type="text" value="9:00 AM to 9:30" class="form-control always_disabled" disabled></td>
              </tr>
              <tr>
                  <td>2</td>
                  <td><select class="form-control table_form_field"><option>Period</option><option>Break</option></select></td>
                  <td><input type="number" value="30" class="form-control table_form_field"></td>
                  <td><input type="text" value="9:00 AM to 9:30" class="form-control always_disabled" disabled></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


      <div class="col-xs-12">
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Type</th>
                      <th>Duration</th>
                      <th>Time</th>
                    </tr>
                </thead>

                <tbody id="periods">
                </tbody>

                <tbody>
                     <tr style="cursor: pointer">
                      <td onclick="addPeriod()"></td>
                      <td onclick="addPeriod()"></td>
                      <td onclick="addPeriod()"><i class="fa fa-plus-circle"></i> Add New Row</td>
                      <td onclick="removePeriod()"><i class="fa fa-trash"></i> Remove Last</td>
                    </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}



{% block page_specific_css %}
    <style>
        .always_disabled:disabled{
            background-color: transparent;
            cursor: auto;
            border: none;
        }
        .table_form_field:disabled{
            background-color: transparent;
            cursor: auto;
            border: none;
        }
    </style>
{% endblock %}

{% block page_specific_js  %}
    <script>
        var count = 0;
        function addPeriod() {
            count += 1;
            var tr = '<tr id="tr_'+count+'">';
                tr += '<td>'+count+'</td>';
                tr += '<td><select class="form-control"><option>Period</option><option>Break</option></select></td>';
                tr += '<td><input type="number" class="form-control"></td>';
                tr += '<td><input type="text" readonly value="8:00am - 8:50am" class="form-control"></td>';
                tr += '</tr>';
            $("#periods").append(tr);
        }

        function removePeriod(){
            $("#tr_"+count).remove();
            count-=1;
        }

        function loadBreakUpData(){
            $.ajax({
                url:"LoadBreakUpData",
                type:"POST",
                data:{
                    "school_timing_id":$("#school_timing").val()
                },
                success:function (data) {
                    alert(data);
                },
                error:function (data) {
                    alert("Error : "+data.responseText);
                }
            });
        }

        $(".save_btn").hide();
        $(".edit_btn").show();
        function enableEditingMode(){
            $(".table_form_field").removeAttr("disabled");
            $(".edit_btn").hide();
            $(".save_btn").show();
        }

        function saveData(){
            $(".table_form_field").attr("disabled",true);
            $(".save_btn").hide();
            $(".edit_btn").show();
        }
    </script>
{% endblock %}