{% extends "base/post_login.html" %}
{% block page_title %} Add School Timings {% endblock %}
{% block page_heading %} Add/Modify School Timings {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> Add/Modify School Timings </a></li>
{% endblock %}

{% block content %}
<div class="row">
<form action="AddModifyTimingSubmit" method="post">
  {% csrf_token %}
  {% load widget_tweaks %}
    <div class="col-md-6">
      <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Update An Existing Timing</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Select Timing</label>
              {% render_field form.available_timings class="form-control" %}
              <span class="help-block" style="color: red;">{{ form.available_timings.errors }}</span>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" name="type" value="update" class="btn btn-primary">Modify Timing</button>
          </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Timing</h3>
        </div>
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">New Timing Name</label>
              {% render_field form.school_timing_name class="form-control" %}
              <span class="help-block" style="color: red;">{{ form.school_timing_name.errors }}</span>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" name="type" value="new" class="btn btn-primary">Create Timing</button>
          </div>
      </div>
    </div>
</form>
</div>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
    <script>
        var count = 0;
        function addPeriod() {
            count += 1;
            var tr = '<tr id="tr_'+count+'">';
                tr += '<td>'+count+'</td>';
                tr += '<td><select class="form-control"><option>Period</option><option>Break</option><option>Assembly</option></select></td>';
                tr += '<td><input type="number" class="form-control"></td>';
                tr += '<td><input type="text" readonly value="8:00am - 8:50am" class="form-control"></td>';
                tr += '</tr>';
            $("#periods").append(tr);
        }

        function removePeriod(){
            $("#tr_"+count).remove();
            count-=1;
        }
    </script>
{% endblock %}