{% extends "base/post_login.html" %}
{% block page_title %} Add School Timings {% endblock %}
{% block page_heading %} Add School Timings {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a><i class="fa fa-dashboard"></i> Add School Timings </a></li>
{% endblock %}

{% block content %}

  <div class="row">

   <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
              <table>
              <tr>
              <td>
                <select class="form-control" onchange="loadBreakUpData()" id="school_timing">
                    {% for st in school_timings %}
                        <option value="{{ st.id }}">{{ st.name }}</option>
                    {%  endfor %}
                </select>
              </td>
              <td style="width:60%; padding-left: 10%;">
                  <label id="message"></label>
              </td>
              </tr>
              </table>
          </h3>
          <div class="box-tools">
              <button class="btn btn-flat btn-warning edit_btn" onclick="enableEditingMode()"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</button>
              <button class="btn btn-flat btn-success save_btn" onclick="saveData()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
          </div>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th>#</th>
                  <th>Type</th>
                  <th>Duration (in Mins)</th>
                  <th>Time</th>
              </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
            <tbody id="edit_panel_button">
               <tr style="cursor: pointer">
                  <td onclick="addPeriod()"></td>
                  <td onclick="addPeriod()"></td>
                  <td onclick="addPeriod()"><i class="fa fa-plus-circle"></i> Add New Row</td>
                  <td onclick="removePeriod()"><i class="fa fa-trash"></i> Remove Last</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      </div>
{% endblock %}



{% block page_specific_css %}
    <style>
        .always_disabled:disabled{
            background-color: transparent;
            cursor: auto;
            border: none;
        }
        .table_form_field:disabled{
            background-color: transparent;
            cursor: auto;
            border: none;
        }
    </style>
{% endblock %}

{% block page_specific_js  %}
    <script>
        var index = 1;
        function addPeriod() {
            var tr  = '<tr id="tr_'+index+'">';
                tr += '<td>'+index+'</td>';
                tr += '<td><select id="type_'+index+'" class="form-control table_form_field"><option>Period</option><option>Break</option></select></td>';
                tr += '<td><input id="duration_'+index+'" onChange="refreshTimings()" type="number" class="form-control table_form_field"></td>';
                tr += '<td><input id="time_'+index+'" type="text" class="form-control always_disabled" disabled></td>';
                tr += "</tr>";
            index += 1;
            $("#table_body").append(tr);
        }

        function removePeriod(){
            index-=1;
            $("#tr_"+index).remove();
        }

        loadBreakUpData();
        function loadBreakUpData(){
            index = 1;
            $.ajax({
                url:"LoadBreakUpData",
                type:"POST",
                data:{
                    "school_timing_id":$("#school_timing").val()
                },
                success:function (data) {
                    if(data == -1){
                        alert("No Data Available")
                    }else if(data == -2){
                        alert("permission denied")
                    }else{
                        var parsedData = $.parseJSON(data);
                        var records = '';
                        $.each(parsedData, function () {
                            var is_period = this.is_period ? "selected" : "#";
                            var is_break = this.is_break ? "selected" : "#";
                            records += '<tr id="tr_'+index+'">';
                            records += '<td>'+index+'</td>';
                            records += '<td><select id="type_'+index+'" class="form-control table_form_field" disabled><option '+is_period+'>Period</option><option '+is_break+'>Break</option></select></td>';
                            records += '<td><input id="duration_'+index+'" onChange="refreshTimings()" type="number" value="'+this.duration+'" class="form-control table_form_field" disabled></td>';
                            records += '<td><input id="time_'+index+'" type="text" value="9 AM to 9:30 AM" class="form-control always_disabled" disabled></td>';
                            records += "</tr>";
                            index += 1;
                        });
                        $("#table_body").html(records);
                        refreshTimings();
                    }
                },
                error:function (data) {
                    alert("Error : "+data.responseText);
                }
            });
        }

        var school_starting_minute = 540;
        function refreshTimings() {
            var start_time = school_starting_minute;
            var end_time = school_starting_minute;
            for(i=1; i<=index; i++){
                start_time = parseInt(end_time);
                end_time += parseInt($("#duration_"+i).val());
                $("#time_"+i).val(convertMinToHour(start_time)+" to "+convertMinToHour(end_time));
            }
        }

        function convertMinToHour(min){
            return Math.floor(parseInt(min)/60)+":"+(parseInt(min)%60);

        }

        $(".save_btn").hide();
        $(".edit_btn").show();
        $("#edit_panel_button").hide();
        function enableEditingMode(){
            $(".table_form_field").removeAttr("disabled");
            $(".edit_btn").hide();
            $(".save_btn").show();
            $("#edit_panel_button").show();
        }

        function saveData(){

            var dataList = [];
            for(i=1; i<index; i++){
                var dataDict = {};
                dataDict["type"] = $("#type_"+i).val();
                dataDict["duration"] = $("#duration_"+i).val();
                dataList.push(dataDict)
            }

            $.ajax({
                url:"SaveBreakUpData",
                type:"POST",
                data:{
                    "timing_data": JSON.stringify(dataList),
                    "school_timing_id":$("#school_timing").val()
                },
                success:function(data){
                    if(data == 1){
                      $("#message").html("<font color='green'>Data Saved Successfully</font>");
                    }else if(data == -1){
                      $("#message").html("<font color='red'>Failed : Invalid School Timing</font>");
                    }else if(data == -2){
                      $("#message").html("<font color='red'>Failed : User lacks permission</font>");
                    }else{
                      $("#message").html("<font color='red'>Failed to update data</font>");
                    }
                },
                error:function(data){
                    $(".context").html(data.responseText);
                }
            });


            $(".table_form_field").attr("disabled",true);
            $(".save_btn").hide();
            $(".edit_btn").show();
            $("#edit_panel_button").hide();
        }

    </script>
{% endblock %}