{% extends "base/post_login.html" %}
{% block page_title %} Requested/Approved Roles {% endblock %}
{% block page_heading %} Requested/Approved Roles {% endblock %}

{% block breadcrumb %}
    <li><a href="Home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a> Requested/Approved Roles</a></li>
{% endblock %}


{% block content %}
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" id="table_heading"></h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 300px;">
                      <input type="text" id="table_search" class="form-control pull-right" placeholder="Search">
                      <div class="input-group-btn">
                        <button onclick="search()" type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                        <button onclick="clearFilter()" type="button" class="btn btn-default"><i class="fa fa-close"></i></button>
                        <button onclick='pagination("backward")' type="button" class="btn btn-default"><i class="fa fa-backward"></i> Previous</button>
                        <button onclick='pagination("forward")' type="button" class="btn btn-default">Next <i class="fa fa-forward"></i></button>
                      </div>
                </div>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Image</th>
                      <th>Role</th>
                      <th>Approval Status</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody id="table_content">
                </tbody>
              </table>
            </div>

            <!---Loading Bar-->
            <div id="page_loading_div"></div>
            <!-- End Loading----->

          </div>
        </div>
      </div>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
<script src="../static/bootstrap/custom/js/table_data_loader.js"></script>
<script>
  loadData(_page,_records_count,_search);
  function loadData(page,records_count,search_keyword){
      _page = page;
      _records_count = records_count;
      _search = search_keyword;
      getJsonResponse("../Roles/GetRolesRaisedByMe",_page,_records_count,_search).success(function (data) {
           $("#page_loading_div").removeClass("overlay");
           $("#page_loading_div").html("");
           var tableContent = "";
           var parsedData = $.parseJSON(data);
           _total_pages = parsedData["total_pages"];
           _total_records = parsedData["total_records"];
           $("#table_heading").html("Page "+_page+" of "+_total_pages+"<small> ["+_total_records+" records found]</small>");
           $.each(parsedData["data"], function(index, element) {

              tableContent += '<tr><td>'+((index+1)+((_page-1)*_records_count));
              tableContent += '<td>'+element["dp"];

              tableContent += '</td><td><b style="color:red">'+element["role_name"]+'</b> <br> of ';
              if (element["is_parent"] == true){
                tableContent += (element["user_name"]+" <br>Myshishya Id : "+element["user_prd_id"]);
                tableContent += ("<br>"+element["school_name"]+"["+element["school_prd_id"]+"]");
              }
              if (element["is_org_grp_related"] == true){
                tableContent += (element["group_name"]+"<br>Myshishya Id : "+element["group_prd_id"]);
              }
              if (element["is_org_related"] == true){
                tableContent += (element["school_name"]+", "+element["school_street"]+"<br>Myshishya Id : "+element["school_prd_id"]);
              }

              if(element["status"]){
                tableContent += '</td><td><b style="color:green">Approved</b>';
                tableContent += '<br>On : '+element["request_approved_on"];
                tableContent += '<br>By : '+element["request_approved_by"];
              }else{
                tableContent += '</td><td><b style="color:red">Pending Approval</b>';
                tableContent += '<br>Requested On : '+element["request_raised_on"];
              }

               tableContent += '</td><td>' +
                  '<button class="btn btn-flat btn-warning"><i class="fa fa-pencil"></i></button>' +
                  '&nbsp;<button class="btn btn-flat btn-info"><i class="fa fa-eye"></i></button>' +
                  '</td></tr>';
           });
           $("#table_content").html(tableContent);
        });
  }
</script>
{% endblock %}