{% extends "base/post_login.html" %}
{% block page_title %} New Organization {% endblock %}
{% block page_heading %} Organization Registration{% endblock %}

{% block breadcrumb %}
    <li><a href="Home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a> New Organization</a></li>
{% endblock %}

{% block content %}
<form action="SaveOrganization" method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Basic Details</h3>
        </div>
        <div class="box-body">
          <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Organization Group Wokidz ID</label>
                    {% render_field form.org_group_product_id class="form-control" %}
                    <span class="help-block" style="color: red;">{% render_field form.org_group_product_id.errors %} </span>
                </div>
                <div class="form-group">
                    <label>Organization Start Date</label>
                    {% render_field form.org_start_date class="form-control" %}
                    <span class="help-block" style="color: red;">{% render_field form.org_start_date.errors %} </span>
                </div>
                <div class="form-group">
                    <label>Institution Type</label>
                    {% render_field form.institution_type class="form-control" %}
                    <span class="help-block" style="color: red;">{% render_field form.institution_type.errors %} </span>
                </div>
            </div>

            <div class="col-md-6">
               <div class="form-group">
                    <label>Institution Name</label>
                    {% render_field form.school_name class="form-control" %}
                    <span class="help-block" style="color: red;">{% render_field form.school_name.errors %} </span>
                </div>
                <div class="form-group">
                    <label>School Registration ID</label>
                    {% render_field form.school_registration_id class="form-control" %}
                    <span class="help-block" style="color: red;">{% render_field form.school_registration_id.errors %} </span>
                </div>
                <div class="form-group">
                    <label>Affiliation</label>
                    {% render_field form.affiliation class="form-control" %}
                    <span class="help-block" style="color: red;">{% render_field form.affiliation.errors %} </span>
                </div>
            </div>

          </div>
        </div>
    </div>


    <div class="box box-default">

    <div class="box-header with-border">
      <h3 class="box-title">Contact Details</h3>
    </div>

    <div class="box-body">
      <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label>Country Code</label>
                {% render_field form.mobile_country_code class="form-control" %}
                <span class="help-block" style="color: red;">{% render_field form.mobile_country_code.errors %} </span>
            </div>
            <div class="form-group">
                <label>Primary Mobile Number</label>
                {% render_field form.mobile_number_1 class="form-control" %}
                <span class="help-block" style="color: red;">{% render_field form.mobile_number_1.errors %} </span>
            </div>
            <div class="form-group">
                <label>Secondary Mobile Number</label>
                {% render_field form.mobile_number_2 class="form-control" %}
                <span class="help-block" style="color: red;">{% render_field form.mobile_number_2.errors %} </span>
            </div>
            <div class="form-group">
                <label>Primary Landline Number</label>
                {% render_field form.landline_1 class="form-control" %}
                <span class="help-block" style="color: red;">{% render_field form.landline_2.errors %} </span>
            </div>
            <div class="form-group">
                <label>Secondary Landline Number</label>
                {% render_field form.landline_2 class="form-control" %}
                <span class="help-block" style="color: red;">{% render_field form.landline_2.errors %} </span>
            </div>
        </div>

        <div class="col-md-6">
           <div class="form-group">
                <label>Email</label>
                {% render_field form.email_id class="form-control" %}
                <span class="help-block" style="color: red;">{% render_field form.email_id.errors %} </span>
            </div>
            <div class="form-group">
                <label>Website</label>
                {% render_field form.website class="form-control" %}
                <span class="help-block" style="color: red;">{% render_field form.website.errors %} </span>
            </div>
            <div class="form-group">
                <label>Zipcode</label>
                {% render_field form.zipcode class="form-control" id="pincode" onChange="loadArea()" %}
                <span class="help-block" id="zipcode_message"></span>
            </div>
            <div class="form-group">
                <label>Street</label>
                <!--{ % render_field form.street class="form-control" %}-->
                <select class="form-control" id="areas" required name="area">
                </select>
            </div>
            <div class="form-group">
                <br>
                {% render_field form.createpage style="width: 25px!important; height: 25px!important;" %}
                &nbsp;&nbsp; Publish Wokidz Page For Organization
            </div>
        </div>

      </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-info">Cancel</button>
        <button type="reset" class="btn btn-warning">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    </div>
</form>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
    <script type="text/javascript">
        if($("#pincode").val() != ""){
            loadArea();
        }

        function loadArea(){
            var pincode = $("#pincode").val();
            $.ajax({
                url    : "LoadAreaFromZipcode",
                method : "POST",
                data   : { "pincode" : pincode },
                success: function(data){
                    var parsedData = $.parseJSON(data);
                    var option = "";
                    if(parsedData.length > 0) {
                        $.each(parsedData, function (index, element) {
                            option += "<option value='" + element["id"] + "'>" + element["city"] + " / " + element["district"] + "</option>";
                        });
                        $("#zipcode_message").val("");
                        $("#areas").html(option);

                    }else{
                        $("#zipcode_message").html("<font color=red> Invalid Zipcode</font>");
                    }
                },
                error: function(data){
                    $(".box-footer").html(data.responseText);
                }
            });
        }
    </script>
{% endblock %}