{% extends "base/post_login.html" %}
{% block page_title %} New Organization Group{% endblock %}
{% block page_heading %} New Organization Groups {% endblock %}

{% block breadcrumb %}
    <li><a href="Home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a> New Organization Group</a></li>
{% endblock %}

{% block content %}
<form action="SaveOrganizationGroup" method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Organization Group Registration</h3>
    </div>

     <div class="box-body">
      <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label >Group Name</label>
                {% render_field form.groupname class="form-control" placeholder="Madhavan Pillai Group Of Instutions"%}
                <span class="help-block" style="color: red;">{% render_field form.groupname.errors %} </span>
            </div>
            <div class="form-group">
                <label >Website</label>
                {% render_field form.website class="form-control" placeholder="www.madhavanpillai.com"%}
                <span class="help-block" style="color: red;">{% render_field form.website.errors %} </span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <br>
                {% render_field form.createpage checked=true style="width: 25px!important; height: 25px!important;" %}
                &nbsp;&nbsp; Create wokidz page for your group
            </div>
            <div class="form-group">
                <label>Organization Super User Product ID</label>
                {% render_field form.organization_su_prd_id class="form-control" placeholder="MY000000001" %}
                <span class="help-block" style="color: red;">{% render_field form.organization_su_prd_id.errors %} </span>
            </div>

        </div>

      </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-info">Cancel</button>
        <button type="reset" class="btn btn-warning">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
</form>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
{% endblock %}